*{
    background-color: rgb(100, 134, 154);
}
h1{
    color: rgb(232, 219, 224);
    font-size: 30px;
}
h2{
    color: rgb(239, 229, 231);
}
a{
    color: rgb(239, 229, 231);
    font-size: 40px;
}
p{ font-size: 30px;
color: antiquewhite;}
span{
    font-size: 30px;
    color: antiquewhite;
}